{% extends "menu.html" %}

{% block body %}
<div class="level-item">
<h1 class="is-size-1">reducer</h1>
</div>


<div class="level-item">
  <form name="reducer" method=POST>
      <div class="field">
          <label>Enter amount of calories</label>
          <input type="text" name="calories" class="input" name="calories" placeholder="calories">
      </div>
      <div class="level-item">
        <button type="submit" class="button is-primary">submit</button>
      </div>
  </form>
  <br>
</div>

<div class="level-item">
  <p id="recommendation" class="has-text-danger is-size-4"></p>
</div>

  <script>
    const reduceCalories = (calories) => {
    var portion = 0;
    let subCal = 0
    //console.log(portion)
    var holding = ""
    if(isNaN(calories)){
      holding = "please enter a valid number"
      return holding
    }

    if(calories <= 700){
      //portion += calories;
      portion = 0
      //console.log(portion)
  
      //console.log("This ran " + timesRan + " times")
      //return portion;
    }

  
    while(calories >= 700){
      
        calories -= 1;
        portion += 1;
      
    }
    subCal -= 1
    if (portion <= 2500 && portion >= 1401) {
      holding = "You " + " should have a quarter of the meal"
      //  AsyncStorage.setItem('holding', holding);
  
    //  return holding;
    } else if (portion <= 1400 && portion >= 801) {
      holding = "You " + " should have a quarter of the meal"
     //   AsyncStorage.setItem('holding', holding);
  
    
    } else if (portion <= 800 && portion >= 401) {
      holding = "You " + " should have half of the meal"
      //  AsyncStorage.setItem('holding', holding);
  
      //return holding;
    }else if (portion <= 400 && portion >= 101) {
       holding = "You " + " should have a little more than half the meal";
        // AsyncStorage.setItem('holding', holding);
  
     // return holding;
    }else if (portion <= 100 && portion >= 0) {
      holding = "You " + " can have the full meal";
      //  AsyncStorage.setItem('holding', holding);
  
   //   return holding;
    } else {
      holding = "The meal is too big"
      // AsyncStorage.setItem('holding', holding);
  
    //  return holding;
      
    }
    //return subCal-1
    return holding
  }

  const handleReducer = () => {
  //  var x = document.forms["myForm"]["fname"].value;

  }


  const reducer = document.querySelector('form')
    reducer.addEventListener('submit', event => {
     event.preventDefault()
     calories = document.forms["reducer"]["calories"].value;
     calories = +calories
     result = reduceCalories(calories)
     document.getElementById("recommendation").innerHTML = result;

})




  

  </script>






{% endblock %}
